body{
    background : url("fond.jpg") ;
    background-size : cover ;
    height: 450px;
 }
 
 .header{
    background-color: rosybrown;
    height: 80px;
    margin: 10px;
    border-radius: 15px ;
 }
 
 
 form {
    padding: 35px;
    text-align: right;
 }
 
 input[type="search"]{
    font-size: 17px;
 }
 
 a.bouton1 {
 padding: 3px 30px;
 background: #32CD32;
 color: #fff;
 border-radius: 15px;
 }
 a.bouton1:hover {
 background: red;
 }
 
 .login{
         width: 382px;
         overflow: hidden;
         margin: auto;
         margin: 20 0 0 450px;
         padding: 80px;
         background: #8B4513;
         border-radius: 15px ;
 
 }
 h2{
     text-align: center;
     color: #277582;
     padding: 20px;
 }
 label{
     color: #08ffd1;
     font-size: 17px;
 }
 
 h1{
   color : white;
 }
 
 .formlog{
   align-content: center;
   padding-right : 600px;
 }